{% extends 'base.html.twig' %}

{% block title %}Cretae{% endblock %}

{% block body %}
<div class="container">
<h1 style="text-align: center;">Cretae New Book</h1>
<div class="row w-75 m-auto">
  {{form(form)}}
</div>
  

  {# {{ form_start(form) }} #}
    {# <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        <div class="col">
            {{ form_row(form.title) }}
        </div>
        <div class="col">
            {{ form_row(form.title) }}
        </div>
    </div> #}
  {# {{ form_end(form) }} #}
</div>
{% endblock %}